.container {
  padding-bottom: 150px;
  padding-top: 20px;
}

.title {
  margin-left: 50px;
  color: #5b5b5b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  justify-content: center;
}

.intro {
  background-color: white;
  display: flex;
  align-items: center;
  width: 300px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  margin-right: 15px;
  color: #5b5b5b;
}

.image {
  background-color: white;

  text-align: center;
}

.image img {
  width: 20vw;
}
