.container {
  position: fixed;
  width: 100%;
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
}

.ul li {
  background-color: black;
  cursor: pointer;
  opacity: 0.7;
}

.ul li:hover {
  opacity: 1;
}
