.square {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;

  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  padding-top: 200px;
  padding-bottom: 200px;
}

.headline {
  font-size: 5vw;
  font-weight: bolder;
  background-color: black;
  color: white;
  margin: 0;
}

.sub_headline {
  font-size: 2.5vw;
  font-weight: bolder;
  background-color: black;
  color: #5b5b5b;
}
